.mix-table{
    width: 100%;
    overflow-x: scroll;
}

.mixer-result{
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

.mixer-icon{
    border-radius: 7px;
    width: 25px;
    height: 25px;
    color: white;
    @include flex-both();
}

.icon-risk {
    background-color: #eed202;
}

.icon-medium-risk {
    background-color: #DD5D00;
}

.icon-high-risk {
    background-color: #cc0202;
}