
<footer class="p-4 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Kontakt</h3>
                <p>
                    <a href="https://www.facebook.com/LSDrugs-106356765180519" class="text-white text-decoration-none">
                        <i class="fab fa-facebook"></i>
                        LSDrugs
                    </a>
                </p>
                <p>
                    <a href="https://www.instagram.com/lsdrugs_/" class="text-white text-decoration-none">
                        <i class="fab fa-instagram-square"></i>
                        LSDrugs_
                    </a>
                </p>
                <p>
                    <a href="mailto:lsdrugs.contact@gmail.com" class="text-white text-decoration-none">
                        <i class="fas fa-envelope-square"></i>
                        lsdrugs.contact@gmail.com
                    </a>
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    Made with 💚 by LSDrugs
                </p>
                <h5>Partnerzy projektu</h5>
                <div class="d-flex align-items-stretch">
                    <a class="footer-partner" href="https://www.sin.org.pl" target="_blank">
                        <div class="bg-white rounded footer-partner-image sin-wrapper">
                            <img src="/images/partners/sin.svg" alt="SIN" class="sin-image">
                        </div>
                    </a>
                    <a class="footer-partner" href="https://www.mestoslaw.pl" target="_blank">
                        <div class="bg-white rounded footer-partner-image">
                            <img src="/images/partners/mestoslaw.png" alt="Mestosław">
                        </div>
                    </a>
                    <a class="footer-partner" href="https://www.alterkom.pl" target="_blank">
                        <div class="bg-white rounded footer-partner-image">
                            <img src="/images/partners/alterkom.jpg" alt="Alterkom">
                        </div>
                    </a>
                    <a class="footer-partner" href="https://www.krakweb.pl" target="_blank">
                        <div class="bg-white rounded footer-partner-image">
                            <img src="/images/partners/krakweb.png" alt="Krakweb">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
